{%extends display.mvc%}

{%block body%}
<div class="wrapper f">
  <div class="c6 m6 s12 ermile flex align-center">
    <a href="https://ermile.com/{{lang.current}}"><img src="{{url.static}}/siftal/images/logo/ermile.png" alt='{{site.title}}'></a>
  </div>
  <div class="c6 m6 s12">
    <div class="box flex align-center">
      <ul>
        <li>
          <a href="https://jibres.com/{{lang.current}}">
            <img class="brand" src="{{url.static}}/siftal/images/logo/jibres.png" alt='{%trans "Jibres"%} | {{site.title}}'>
            <h1>{%trans "Jibres"%}</h1>
            <h2>{%trans "Integrated Sales and Online Accounting"%}</h2>
          </a>
          <h3>{%trans "Jibres is not just an online accounting software;"%} {%trans "We try to create the best financial platform that has everything you need to sale and manage your financial life."%}</h3>
        </li>
        <li>
          <a href="https://azvir.com/{{lang.current}}">
            <img class="brand" src="{{url.static}}/siftal/images/logo/azvir.png" alt='{%trans "Azvir"%}  | {{site.title}}'>
            <h1>{%trans "Azvir"%}</h1>
            <h2>{%trans "Pioneer Academies Selection"%}</h2>
          </a>
          <h3>{%trans "Azvir provides complete and beautiful solutions for your academy;"%} {%trans "Do all things easily and enjoy."%}</h3>
        </li>
        <li>
          <a href="https://sarshomar.com/{{lang.current}}">
            <img class="brand" src="{{url.static}}/siftal/images/logo/sarshomar.png" alt='{%trans "Sarshomar"%}  | {{site.title}}'>
            <h1>{%trans "Sarshomar"%}</h1>
            <h2>{%trans "Ask Anyone Anywhere"%}</h2>
          </a>
          <h3>{%trans "Focus on your question. Do not be too concerned about how to ask or analyze."%} {%trans "Equipped with an integrated platform, Sarshomar has made it possible for you to ask your questions via any means."%}
          </h3>
        </li>
        <li>
          <a href="https://tejarak.com/{{lang.current}}">
            <img class="brand" src="{{url.static}}/siftal/images/logo/tejarak.png" alt='{%trans "Tejarak"%}  | {{site.title}}'>
            <h1>{%trans "Tejarak"%}</h1>
            <h2>{%trans "Modern Approach"%}</h2>
          </a>
          <h3>{%trans "Tejarak provides beautiful solutions for your business;"%} {%trans "Do attendance easily and enjoy realtime reports."%}</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="" >
      <a class="floatRa" href="https://ermile.com/{{lang.current}}" title="{{site.desc}}">{{site.title}}</a>
      <span title='{{myIP}}'>{{myHost}}</span>
    </div>
  </div>
</footer>
{%endblock%}




{%block head_css%}
<style>
body{background-image:url("https://ermile.com/static/images/pattern/shattered_@2X.png");background-attachment:fixed;height:100%;margin:0;padding:0;}
.wrapper{height:90vh;}
.container{width:90%;margin:0 auto;}
.ermile a{display:block;width:100%;}
.ermile img{width:100%;margin:0 auto;vertical-align:middle;display:block;}
.box{margin:0em auto ;width:70%;height:100%;}
.box h1{color:#10a1a6;font-size:4em;margin:0;display:inline-block;position:relative;line-height:2.5em;font-weight:600;}
.box .brand{max-width: 50px;display:inline-block;vertical-align:middle;margin:0 5px;padding:1px;border-radius:3px;background-color:#eee;transition:0.3s;}
.box li{font-size:.7em;width:100%;margin:0em auto 1em;position:relative;float:left;transition:0.3s}
.box li:hover{background-color: rgba(255,255,255,0.5);}
.box li:hover .brand{background-color: #fff}
.box h2{margin:0 .5em;display:inline-block;color:#414141;}
.box h3{color:#888;margin:0 .5em;}
.box ul{list-style:none;padding:0;}
.box a{width:100%;display:block;}
footer{padding:20px 0;opacity:0.7;font-size:1.5em;background:#FFF;box-shadow:1px 1px 5px 0 #C4C5C6;position:fixed;bottom:0;right:0;left:0;}
footer a{color:#00b6bb;}
footer span{font-size:0.7em;}
.ermile img{width:500px;}

@media all and (min-width:1400px) {
  .ermile img{width:60%;}
  .box a h2,.box a h1{ display:inline-block;}
  .box h1{font-size:4em;}
  .box h2{font-size:2.2em;}
  .box h3{font-size:2em;}
}

@media all and (max-width:1024px){
  .box h1{font-size:4em;}
  .box h2{font-size:2em;}
  .box h3{font-size:1.5em;}
}

@media all and (min-width:768px) and (max-width:959px) {
  .box a h1{font-size:3em;line-height:2em;}
  .box h3{margin:0 1em;width:100%;margin-bottom:.2em;}
  .ermile img{width:100%;}
  footer{display:none;}
}


@media all and (max-width:767px){
  .ermile img{width:40%;margin:1em auto;}
  .box a h1,.box a h2{display:block;text-align:center;}
  .box h3{width:70%;text-align:center;margin:0 auto;}
  footer{display:none;}
}

@media all and (max-width:350px) {
  .box h1{font-size:4em;}
  .box h2{font-size:2.2em;}
  .box h3{font-size:2em;width:100%;}
  .boxh1, h2{display:inline-block;}
  footer{display:none;}
}
</style>
{%endblock%}
