{%extends display.mvc%}

{%block body%}
<div class="wrapper f">
  <div class="c6 m6 s12 ermile flex align-center">
    <a href="https://ermile.com/{{lang.current}}"><img src="{{url.site}}/static/siftal/images/logo/ermile.png" alt='{{site.title}}'></a>
  </div>
  <div class="c6 m6 s12">
    <div class="box flex align-center">
      <ul>
        <li>
          <a href="https://jibres.com/{{lang.current}}">
            <img class="brand" src="{{url.site}}/static/siftal/images/logo/jibres.png" alt='{%trans "Jibres"%} | {{site.title}}'>
            <h1>{%trans "Jibres"%}</h1>
            <h2>{%trans "Integrated Sales and Online Accounting"%}</h2>
          </a>
          <h3>{%trans "Jibres is not just an online accounting software;"%} {%trans "We try to create the best financial platform that has everything you need to sale and manage your financial life."%}</h3>
        </li>
        <li>
          <a href="https://azvir.com/{{lang.current}}">
            <img class="brand" src="{{url.site}}/static/siftal/images/logo/azvir.png" alt='{%trans "Azvir"%}  | {{site.title}}'>
            <h1>{%trans "Azvir"%}</h1>
            <h2>{%trans "Pioneer Academies Selection"%}</h2>
          </a>
          <h3>{%trans "Azvir provides complete and beautiful solutions for your academy;"%} {%trans "Do all things easily and enjoy."%}</h3>
        </li>
        <li>
          <a href="https://sarshomar.com/{{lang.current}}">
            <img class="brand" src="{{url.site}}/static/siftal/images/logo/sarshomar.png" alt='{%trans "Sarshomar"%}  | {{site.title}}'>
            <h1>{%trans "Sarshomar"%}</h1>
            <h2>{%trans "Ask Anyone Anywhere"%}</h2>
          </a>
          <h3>{%trans "Focus on your question. Do not be too concerned about how to ask or analyze."%} {%trans "Equipped with an integrated platform, Sarshomar has made it possible for you to ask your questions via any means."%}
          </h3>
        </li>
        <li>
          <a href="https://tejarak.com/{{lang.current}}">
            <img class="brand" src="{{url.site}}/static/siftal/images/logo/tejarak.png" alt='{%trans "Tejarak"%}  | {{site.title}}'>
            <h1>{%trans "Tejarak"%}</h1>
            <h2>{%trans "Modern Approach"%}</h2>
          </a>
          <h3>{%trans "Tejarak provides beautiful solutions for your business;"%} {%trans "Do attendance easily and enjoy realtime reports."%}</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="" >
      <a class="floatRa" href="https://ermile.com/{{lang.current}}" title="{{site.desc}}">{{site.title}}</a>
      <span>Goni</span>
    </div>
  </div>
</footer>
{%endblock%}

