{%extends display.mvc%}

{%block body%}
<div class="wrapper f">
  <div class="c6 m6 s12 ermile flex align-center">
    <a href="https://ermile.com/"><img src="https://ermile.com/static/images/ermile.png" alt=""></a>
  </div>
  <div class="c6 m6 s12">
    <div class="box flex align-center">
      <ul>
        <li>
          <a href="https://sarshomar.com/fa">
            <h1>سرشمار</h1>
            <h2>از هرکسی در هرجایی بپرسید</h2>
          </a>
          <h3>روی سوال خود تمرکز کنید؛ دغدغه چطور پرسیدن و تحلیل کردن نداشته باشید. سرشمار با زیرساختی یکپارچه، امکان پرسیدن با هر ابزاری را برای شما فراهم کرده است.</h3>
        </li>
        <li>
          <a href="https://talambar.com/">
            <h1>تلمبار</h1>
            <h2>یک فضای ذخیره سازی ابری</h2>
          </a>
        </li>
        <li>
          <a href="http://tejarak.ir/">
            <h1>تجارک</h1>
            <h2>راه‌حل‌هایی برای کسب و کارهای کوچک</h2>
          </a>
        </li>
        <li>
          <a href="https://azvir.com/fa">
            <h1>ازویر</h1>
            <h2>سیستم استفاده از فلش کارت</h2>
          </a>
        </li>
        <li>
          <a href="http://saloos.ir/">
            <h1>سالوس</h1>
            <h2>فریم ورک و مدیریت محتوا</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="hint--right float-left" data-hint="Ermile contain a new tools for each one">
      <a class="footer-ermile" href="https://ermile.com/">Ermile</a>
      <span>Goni</span>
    </div>
  </div>
</footer>
{%endblock%}

